.auth-page{
  display: flex;
  justify-content: space-between;

  .auth-image{
    width: auto;
    height: 100vh;
    object-fit: cover;
  }

  .auth-card {
    min-width: 500px;
    width: 80%;
    margin-top: 100px;
  }
}

.login-form {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  background-color: #2a636d;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.form-footer{
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap
}

