rules_version = '2';
service cloud.firestore {
  match /databases/{databas}/documents {
    // Allow everything
    match /team/{member} {
      allow read: if true;
      match /restricts/{restrict} {
      	allow read: if request.auth.token.email_verified;
      }
    }
  }
}