.roles {
    display: flex;
    
    .role {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-around;

        width: 200px;
        height: 300px;
        margin: 15px;

        background-color: #d7fae1;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-bottom: 30px;
        }

        mat-card-content {
            width: 200px;
        }
    }
}