<app-header></app-header>
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/home" routerLinkActive="active">
                <i class="material-icons">
                    home
                </i>
                Home
            </a>
            <a mat-list-item  routerLink="/home/profile" routerLinkActive="active">
                <i class="material-icons">
                    person_outline
                </i>
                Profile
            </a>
            <a mat-list-item *ngIf="(!emailVerified)" routerLink="/home/restrict" routerLinkActive="active">
                <i class="material-icons">
                    mark_email_read
                </i>
                Validate Email
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>