@import '../../../styles.scss';

.footer {
    background-color: $gray-color;
    color: $dark-gray-text;
    position: fixed;
    bottom: 0;
    height: 40px;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
}