.profile {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    background-color: #E0F2F1;

        mat-icon {
            font-size: 50px;
        }
        
        mat-card-title {
            font-size: 35px;
            display: flex;
        }
        
        .title {
            margin-left: 30px;
            margin-top: 19px;
        }
        
        mat-form-field {
            margin: 10px;
            width: 280px;
        }

        .check {
            margin-left: 74px;
        }

        .button {
            margin-left: 104px;
            margin-top: 30px;
        }
}
