<mat-card class="profile" >
    <mat-card-title>
        <mat-icon>people</mat-icon> 
        <div class="title">Profile</div>
    </mat-card-title>

    <form class="profile-form">
        <mat-form-field appearance="fill">
            <mat-label>Name:</mat-label>
            <input matInput type="string" value="{{displayName}}" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>User Email:</mat-label>
            <input matInput type="email" value="{{email}}" disabled="true" />
        </mat-form-field>

        <div class="check">
            <mat-checkbox class="disabled" disabled="true" [checked]=(!!emailVerificado)>Email Verificado</mat-checkbox>
        </div> 

         <div class="button">
             <button class="update-button" color="primary" mat-raised-button (click)="updateUser()">
                Update
            </button>
         </div>

    </form>
</mat-card>